<div class="p">hallo welt cool</div>
<div class="some">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, dolorem? </div>

<div class="ts">{{__JS__}}</div>
<div class="ts">{{__CSS__}}</div>
<div class="ts">{{__IMAGE__}}</div>