{% extends "main.twig" %}

{% block main %}
    <div class="main-page">
        <h1>Gesellschaft bürgerlichen Rechts (GbR)</h1>
        <p>Für eine GbR könnte das Impressum beispielsweise wie folgt aussehen:</p>
        <div class="Impressum-address-wrapper">
            <div>Mustermann & Mustermann GbR</div>
            <div>Musterstraße 1</div>
            <div>12345 Musterstadt</div>
        </div>
        <br>
        <div class="Impressum-address-wrapper">
            <div>Gesellschafter: Lotte Musterfrau und Tilo Mustermann</div>
            <div>Telefon: 123/123456</div>
            <div>Fax: 123/123457</div>
            <div>E-Mail: info@musternamegbr.de</div>
        </div>
        <br>
        <p>Umsatzsteuer-Identifikationsnummer gem. § 27a UStG: DE 123456789</p>
        <p>Inhaltlich Verantwortlicher: Maximilian Mustermann (Anschrift s.o.)</p>
    </div>
{% endblock %}